.main-back {
  background-color: black;
}

.quiz-page {
  background-color: white;
}

#progress {
    width: 100%;
    background-color: grey;
  }
  
#bar {
    width: 0%;
    height: 30px;
    background-color: green;
  }

.title {
  color: red;
  text-align: center;
}

.scores {
  color: green;
  font-size: large;
  font-weight: bolder ;
  text-align: center;
}

.scoresinc {
  color: red;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.title {
  text-align: center;
}

.main-img {
  text-align: center;
}

#timer {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.question-area {
  text-align: center;
  font-size: x-large;
}

.answer-message {
  text-align: center;
  font-size: x-large;
}

.answer-b {
  text-align: center;
  font-size: x-large;
}

.a-box {
  text-align: center;
}

#answer {
  text-align: center;
}