.main-back {
  background-color: black;
}

.quiz-page {
  background-color: white;
}

#progress {
    width: 100%;
    background-color: grey;
  }
  
#bar {
    width: 0%;
    height: 30px;
    background-color: green;
  }

.title {
  color: rgb(255, 51, 0);
  text-align: center;
  font-weight: bolder;
}

.scores {
  color: green;
  font-size: 2em;
  font-weight: bolder ;
  text-align: center;
}

.scoresinc {
  color: red;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

h2 {
  color: aquamarine;
  text-align: center;
}

#hero-out {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

#hero-image {
  height: 600px;
  width: 100%;
  background: url('../images/hero..jpg') no-repeat center center;
  background-size: cover;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#timer {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  color: rgb(0, 204, 255);
}

.question-area {
  text-align: center;
  font-size: 3.5em;
  color: white;
}

.answer-message {
  text-align: center;
  font-size: 3em;
  color: white;
}

.para {
  color: rgb(126, 185, 236);
  text-align: center;
  font-size: 1.2em;
}

.list {
  color: rgb(247, 216, 177);
  font-size: 1.2em;
  text-align: center;
  list-style: none;
} 

.para2 {
  color: rgb(231, 156, 63);
  font-size: 1.5em;
  text-align: center;
}

#answer-box {
  height: 30px;
  width: 20%;
}

.answer-b {
  text-align: center;
  font-size: x-large;
}

.a-box {
  text-align: center;
}

#answer {
  text-align: center;
  font-size: 2em;
  color: rgba(216, 158, 0, 0.849);
}

.link {
  text-align: right;
  font-size: 2em;
  font-weight: bolder;
  color: orange;
}

.link:hover {
  color: blue;
}

.link-text {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  color: white
}

.info {
  font-size: 1.5em;
  color: grey;
  text-align: center;
}

.rule {
  color: white;
  text-align: center;
}

.button {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover{
  background-color: blue;
}

#a-image {
  position: relative;
  text-align: center;
}

#a-image img {
  height: 350px;
  width: 25%;
}

#btn {
  margin-top: 25px;
}

/***results***/

.results-box{
  text-align: center;
}

.hide{
  display: none;
}

.results-box h1{
  font-size: 40px;
  line-height: 40px;
  color: blueviolet;
}

.results-box table{
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

.results-box table td{
  border: 2px solid white;
  padding: 8px 15px;
  font-weight: bolder;
  color: rgb(197, 162, 6);
  width: 50%;
  text-align: left;
  font-size: 40px;
  height: 120px;
}

.results-box .btn{
  margin-right: 50px;
}

.result-c {
  color: brown;
}

.result-s{
  color:green;
}

.result-i{
  color: red;
}

.btn {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover {
  background-color:rgb(255, 51, 0)
}

/*****************/

@media screen and (max-width: 1200px){
  #a-image img {
    height: 300px;
    width: 50%;
  }
}

@media screen and (max-width: 1100px){

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }
}

@media screen and (max-width: 850px){
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    }
}